<div id="content" class="text-justify col-xs-12">
  <div id="siteNotice">
  </div>
  <h1 id="firstHeading" class="firstHeading">WickedBotz</h1>
  <div id="bodyContent">
    <p>A Wickedbotz é uma equipe multidisciplinar que desenvolve robôs autônomos,
      criada em 2008, na cidade de Joinville - Santa Catarina,
      com objetivo de participar de competições nacionais e internacionais relacionadas a robôs.</p>

      <p>Em 2012 acadêmicos do curso de Bacharelado em Sistemas de Informação,
        com a participação de dois alunos de Engenharia Elétrica da Universidade do Estado de
        Santa Catarina (UDESC) reformou o grupo de robótica.</p>

        <p>A partir do ano de 2013, a equipe foi reformulada,
          contando somente com alunos da Católica de Santa Catarina,
          no campus de Jaraguá́ do Sul e de Joinville, composta por alunos de Sistemas de Informação e de Engenharia Elétrica e Mecânica.</p>

          <p>Desde então o grupo vem crescendo tanto em colaboradores quanto conquistas,
            além de levar o conhecimento da robótica para a comunidade onde está inserida.</p>

            <p>Para continuar participando de campeonatos e desenvolver o avanço da tecnologia a equipe busca por mais apoiadores e patrocinadores.</p>


            <p>
            </p>

            <a href="http://wickedbotz.com.br/news/index.php" class="btn btn-block btn-social btn-redit">
              <img src="img/wickedBotzP.png"></img> Visite nosso site
            </a>
            <a href="https://www.facebook.com/WickedBotz/" class="btn btn-block btn-social btn-facebook">
              <span class="fa fa-facebook"></span> Curta-nos no Facebook
            </a>
            <a href="https://github.com/WickedBotz" class="btn btn-block btn-social btn-github">
              <span class="fa fa-github"></span> Repositorios WickedBotz
            </a>
          </div>
        </div>
